<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs', {}) %>
</head>

    <body>
        <img src="https://i.imgur.com/fRhAh0V.jpg" alt="">


        <main>
            <div>
               
                
                <% for (riddle of riddles) { %>
                    <a href="/riddles/new"><button>Create New Riddle</button></a>
                    
                    <article>
                        <a href="/riddles/<%=riddle._id %>">
                            <h2>
                                <%= riddle.riddle %> -<%= riddle.answer %>
                            </h2>
                        </a>
                    </article>
                <% } %> 
            </div>
        </main>
    </body>
</html>