<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs') %>
</head>

    <body class="new">
        <main>
            <div>
              <form action="/riddles" method="POST">
                <fieldset>
                    <legend>Create a new Riddle</legend>

                    <label>
                        RIDDLE: <input class="newinput" type="text" name="question" placeholder="enter a riddle" style="width: 50%;" />
                    </label>
                    <label>
                        ANSWER: <input class="newinput" type="text" name="answer" placeholder="enter an answer" style="width: 50%;" />
                    </label>      
                    <label>
                        IMAGE: <input class="newinput" type="text" name="image" placeholder="image url" style="width: 50%;" />
                    </label>    
                </fieldset>
                
                <input type="submit" value="Create New Riddle" style="background-color: rgb(134, 0, 0); border: black;" />
              </form>        

            </div>
        </main>
    </body>
</html>