<div class="envelope-container">
    <input id="flap" type="checkbox">
    <label class="flap" for="flap"></label>
    <div class="envelope-back"></div>
    <div class="card">Thanks!</div>
    <div class="card-front"></div> 
  </div>