<!DOCTYPE html>
<html lang="en">
    <head>
<%- include("../partials/head.ejs") %>


</head>

<body>
    <main>
    <div class="login">
        <form action="/user/login" method="post">
        <fieldset>
            <legend>User Login</legend>
            <label
            >USERNAME: <input class="loginput" type="text" name="username" style="width: 10em; color: lawngreen;" required />
            </label>
            <label
            >PASSWORD: <input class="loginput" type="password" name="password" style="width: 10em; color: greenyellow;" required />
            </label>
            <input type="submit" value="Login" style="background-color: darkgreen; border: none;" />
        </fieldset>
        </form>
    </div>
    </main>
</body>
</html>